<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Operation</title>
	<link rel="stylesheet" href="../../static/system/style.css">
</head>
<body>
    <a href="/user/{{checkcode}}">返回个人主页</a><br/>
    <center>
        <form action="/user/{{checkcode}}/re_pass" method="post">
            <table class='container4'>
                <tr>
                    <td>name<input type="text" name="name" value="{{User.name}}"></td>
                </tr>
                <tr>
                    <td>password<input type="text" name="password" value="{{User.password}}"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="提交">
                        <input type="reset" value="清空">
                    </td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>